<html>
  <body>
    <h1>READATHON!!!</h1>
    <h3><a href="readers">Participants</a></h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Current Book</th>
      </tr>
      {% for reader in participants %}
        <tr>
          <td>{{reader.name}}</td>
          <td>{{reader.current_book}}</td>
        </tr>
      {% endfor %}
    </table>
    <h3><a href="books">Library</a></h3>
    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
      </tr>
      {% for book in library %}
        <tr>
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
        </tr>
      {% endfor %}
    </table>  </body>
</html>